h1 {
    color: red;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

.padding {
    padding-left: 20px;
    padding-right: 20px;
}

div {
    border: 2px solid black;
    margin: 10px;
}

.green-text {
    color: green;
}

.blue-text {
    color: blue;
}

.centered-text {
    text-align: center;
}