h1 {
    color: red;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

.padding {
    padding-left: 20px;
    padding-right: 20px;
}

div {
    border: 2px solid black;
    margin: 10px;
}

.green-text {
    color: green;
}

.blue-text {
    color: blue;
}

.white-text {
    color: white;
}

.centered-text {
    text-align: center;
}

.dotted {
    border-style: dotted;
}

.fill {
    background-color: green;
    margin-left: 10px;
    margin-right: 10px;
}